body {
  background-color:#1a3324;
}

.header-bar {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.right-align {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.nav-btn{
  display: inline-block;
  padding: 14px 28px;
  font-size: 16px;
  border: 1px solid #5c4033;
  background-color:#5c4033;
  color: #f1f5f2;
  text-decoration: none;
  border-radius: 6px;
}

.nav-btn:hover{
  background-color: #1e293b;
}

.event-card{
  border: 2px solid #5c4033;
  padding: 25px;
  margin-bottom: auto;
}

.page-layout {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.calendar-column {
  flex: 1;
  margin-top: 16px;
}

.left-panel{
  display: flex;
  flex-direction: column;
  width: 470;
}

.title{
  color:#f1f5f2;
}

.text{
  color:#f1f5f2;
}

.fc .fc-button {
  background-color: #5c4033;
  border-color: #5c4033;
  color: #f1f5f2;
}

.fc .fc-button:hover {
  background-color: #1e293b;
}

.fc .fc-today-button {
  background-color: #5c4033;
  border-color: #5c4033;
  color: #f1f5f2;
}

.fc .fc-today-button:hover {
  background-color: #1e293b;
   border-color: #1e293b;
}

.fc .fc-today-button:hover {
  background-color: #1e293b;
   border-color: #1e293b;
}

